.web
.states
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
COPIASEGURIDAD/

# Caches and state
*.sqlite3
.web/
states/
assets/external/

# Entorno virtual (este es importante que SI lo ignores)
venv/
.env

*.db

# Configuraciones y archivos secretos
.env
.DS_Store
alembic.ini
# VSCode config
.vscode/

# Otros backup o temporales
*.log
*.bak
*.swp
